.container{
    margin: 0 10%;
    display: flex;
}
.trai{
    flex: 3;

}
.phai{
    flex: 1;
}
.thongtin b{
    margin-right: 20px;
}
.anh img{
    width: 100%;
    background-color: black;
}
.baiviet hr{
    width: 70%;
}
.phai a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.phai{
    margin-left: 2%;
}
.phai hr{
    width: 90%;
}
.linkbai{
    margin: 10% 0;
}
.block2 .anh{
    margin: 10px 0;
}
